site_name: Issue Agent
repo_name: clover0/issue-agent
repo_url: https://github.com/clover0/issue-agent

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme)"
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy
    - content.tabs.link

nav:
  - Getting Started:
      - getting-started/installation.md
      - getting-started/setup.md
      - getting-started/usage.md
  - Consept:
      - core-concept/concept.md
  - Configuration:
      - Command: configuration/command.md
      - YAML: configuration/yaml.md

plugins:
  - minify:
      minify_html: true
  - search
  - tags

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
